<div *ngIf="isLoggedOut">
  <h2> Home Page </h2>

  <h3> Neo Pets but with Camels </h3>


  <p> Register and Create New Camels: </p>

  <p *ngIf="errorMessage" class="signupErrorMessage">
    {{ errorMessage }}
  </p>

  <form (ngSubmit)="doSignUp()">
    <label for="full-name-input"> Full Name: </label>
    <input id="full-name-input" type="text"
    [(ngModel)]="fullNameValue" name="fullName">
    <br>

    <label for="email-input"> Email: </label>
    <input id="email-input" type="email" placeholder="johndoe@gmail.com"
    [(ngModel)]="emailValue" name="email">
    <br>

    <label for="password-input"> Password: </label>
    <input id="password-input" type="password" placeholder="********"
    [(ngModel)]="passwordValue" name="password">
    <br>

    <button> Sign Up </button>

  </form>


  <p> Sign in </p>

  <p *ngIf="loginErrorMessage" class="loginErrorMessage">
    {{ loginErrorMessage }}
  </p>

  <form (ngSubmit)="doLogin()">

    <label for="login-email-input"> Email: </label>
    <input id="login-email-input" type="email" placeholder="johndoe@gmail.com"
    [(ngModel)]="loginEmail" name="login-email">
    <br>

    <label for="login-password-input"> Password: </label>
    <input id="login-password-input" type="password" placeholder="********"
    [(ngModel)]="loginPassword" name="login-password">
    <br>

    <button> Log In  </button>

  </form>
</div>
